/*! purgecss start ignore */
@tailwind base;
@tailwind components;
/*! purgecss end ignore */
@tailwind utilities;


/* @font-face {
    font-family: Krubuler;
    font-weight: 400;
    font-style: normal;
    src: url("Krabuler-Regular.woff2") format("woff2"), url("Krabuler-Regular.woff") format("woff");
    font-display: swap;
  } */

  .bg-custom-orange {
    --bg-opacity: 1;
    background-color: #F79767;
    background-color: rgba(247,151,103, var(--bg-opacity));
}
  .bg-custom-green {
    --bg-opacity: 1;
    background-color: #D1EADA;
    background-color: rgba(209,234,218, var(--bg-opacity));
}
  .text-custom-orange{
    --bg-opacity: 1;
    color: #F79767;
    color: rgba(247,151,103, var(--bg-opacity));
}
  .text-custom-green {
    --bg-opacity: 1;
    color: #D1EADA;
    color: rgba(209,234,218, var(--bg-opacity));
}

.font-k {
  font-family: "Krubuler";

  src: url("../fonts/Krabuler-Regular.woff2") format("woff2"), url("../fonts/Krabuler-Regular.woff") format("woff");

  /* font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
}